<mat-card class="example-card | m-10" [ngClass]="getCardClass()">
  <mat-card-header class="flex items-center justify-center">
    <div mat-card-avatar class="example-header-image | m-0"></div>
    <mat-card-title
      >{{ index ?? "" }}.{{ course?.description }}
    </mat-card-title>
  </mat-card-header>
  <img
    class="my-5"
    mat-card-image
    [src]="course?.iconUrl"
    alt="Photo of Course"
  />
  <mat-card-content>
    <p>
      {{ course?.longDescription }}
    </p>
  </mat-card-content>
  <mat-card-actions class="flex justify-center">
    <span class="span">{{ course?.category }}</span>
    <!--    <span class="span" *ngIf="course?.lessonsCount; else elseBlock">{{-->
    <!--      course?.lessonsCount-->
    <!--    }}</span>-->

    <!--    Expanded way of writing *ngIf Directive-->
    <ng-template
      [ngIf]="course?.lessonsCount"
      [ngIfThen]="thenBlock"
      [ngIfElse]="elseBlock"
    ></ng-template>
    <ng-template #thenBlock
      ><span class="span">{{ course?.lessonsCount }}</span>
    </ng-template>
    <ng-template #elseBlock><span class="span">N/A</span></ng-template>

    <!--    <button mat-raised-button color="primary" (click)="onCourseView()">-->
    <!--      View Course-->
    <!--    </button>-->
  </mat-card-actions>
</mat-card>
