.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://angular.io/assets/images/logos/angular/angular_solidBlack.svg");
  margin: 0;
}

.beginner {
  @apply bg-emerald-100;
}

.intermediate {
  @apply bg-blue-100;
}

.advanced {
  @apply bg-red-100;
}
